snippet jsx
import React, {
	Component,
	PropTypes,
} from 'react';

export ${0:default} class ${1:name} extends Component {
	static propTypes = {}

	static defaultProps = {}

	render() {
		return ();
	}
}
endsnippet
